
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>Calender</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/Main.js" type="text/javascript"></script>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- <meta http-equiv="refresh" content="5;URL=../weather"> -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
</head>
<body>
    <header role="banner">
    </header>
    <nav></nav>
    <div role="main">
    </div>

    <section class="watch">
        <h1 class="date"><%= @today %></h1>
        <h1 class="time"><%= @time %></h1>
    </section>

    <section class="today clear">
        <dl>
            <!-- <dt class='date'><%= @today %></dt> -->
            <dt class='date'>今日</dt>
            <dd class='weather'><%= @tweather %></dd>
        </dl>
        <div class='todayicon' data-icon=<%= @tpic %>></div>
        <dl class='cent'>
            <dd class='subicon' data-icon="'"></dd>
            <dd class='max'><%= @tmax %></dd>
            <dd class='min'><%= @tmin %></dd>
        </dl>
        <dl class='period'>
            <dd class='subicon' data-icon='8'></dd>
            <dd class='t00-06'><%= @t00 %>％</dd>
            <dd class='t06-12'><%= @t06 %>％</dd>
            <dd class='t12-18'><%= @t12 %>％</dd>
            <dd class='t18-24'><%= @t18 %>％</dd>
        </dl>
    </section>
    
    <section class="tomorrow">
        <dl>
            <!-- <dt class='date'><%= @nextday %></dt> -->
            <dt class='date'>明日</dt>
            <dd class='weather'><%= @nweather %></dd>
        </dl>
        <div class='icon' data-icon=<%= @npic %>></div>
        <dl class='cent'>
            <dd class='subicon' data-icon="'"></dd>
            <dd class='cent max'><%= @nmax %></dd>
            <dd class='cent min'><%= @nmin %></dd>
        </dl>
        <dl class='period'>
            <dd class='subicon' data-icon='8'></dd>
            <dd class='t00-06'><%= @n00 %>％</dd>
            <dd class='t06-12'><%= @n06 %>％</dd>
            <dd class='t12-18'><%= @n12 %>％</dd>
            <dd class='t18-24'><%= @n18 %>％</dd>
        </dl>
    </section>

<!--  
    <h2 id="next" class="<%= @todayTrashCls %>">今日は<%= @todayTrash %></h2>
    
    <h2 id="third" class="<%= @tommorowTrashCls %>">明日は<%= @tommorowTrash %></h2>
 -->
    <div class="ticker" rel="roll">
    <ul>
        <li id="next" class="<%= @todayTrashCls %>">今日は<%= @todayTrash %></li>
        <li id="third" class="<%= @tommorowTrashCls %>">明日は<%= @tommorowTrash %></li>
    </ul>
    </div>


    <footer role="contentinfo">
    </footer>
</body>
</html>